.mat-card-header-text {
    margin: 0;
}

.group-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    overflow-y: scroll;
    height: 87vh;
}

.card {
    height: 145px;
}

@media screen and (min-width: 992px) {
    .group-card {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .group-card {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}