<ng-container>
    <div class="group-card">
        <mat-card class="card" *ngFor="let item of items">
            <mat-card-header style="margin: 0;">
                <mat-card-title>{{ item.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                {{ item.name }}
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Price: {{ item.price }}</button>
                <button mat-raised-button color="primary" style="float: right;" (click)="selectItemBuy(item.id)">Buy</button>
            </mat-card-actions>
        </mat-card>
    </div>
</ng-container>