<mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="filterinvenItem()">
    <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText='';filterinvenItem()">
      <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<div style="overflow-y: scroll;height: 80vh;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef> qty </th>
            <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>