.example-form-field {
    width: 100vw;
    position: fixed;
    top: 55px;
    z-index: 5;
    background-color: #fff;
}

.mat-elevation-z8 {
    position: relative;
    top: 62px;
    z-index: 4;
}

table {
    width: 100%;
}