.repass {
  display: "flex";
  text-align: center;
  place-content: "center";
  align-items: "center";

  .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #222;
  }
  button {
    margin-bottom: 20px;
    width: 100%;
  }
  .back-arrow {
    position: absolute;
    top: 30px;
    left: 20px;
  }
}
