<app-loading-screen *ngIf="isLoading"></app-loading-screen>
<div class="repass">
  <div class="wrap">
    <a href="/login" class="back-arrow"><i class="material-icons">arrow_back_ios</i></a>
    <h3>Forgot password</h3>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Send email to</mat-label>
        <input matInput placeholder="Email" type="email" [(ngModel)]="email">
        <mat-icon matSuffix>email</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
    </p>
    <button mat-flat-button color="primary" (click)="sendResetPassword()">Send</button>
  </div>
</div>
