<app-loading-screen *ngIf="isLoading"></app-loading-screen>
<div class="repass">
  <div class="wrap">
    <h3>Reset password</h3>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input matInput placeholder="password" type="password" [(ngModel)]="password"
          (keyup.enter)="setFocus('c_password')">
        <mat-icon matSuffix>vpn_key</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Confirm Password</mat-label>
        <input id="c_password" matInput placeholder="Confirm password" type="password" [(ngModel)]="c_password">
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>
    </p>
    <button mat-flat-button color="primary" (click)="resetPassword()">Reset</button>
  </div>
</div>
