<app-loading-screen *ngIf="isLoading"></app-loading-screen>
<div class="register">
    <div class="wrap">
        <h2></h2>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="username">
                <mat-icon matSuffix>account_circle</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="email">
                <mat-icon matSuffix>email</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Image link</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="imageUrl">
                <mat-icon matSuffix>image</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Placeholder" type="password" [(ngModel)]="password">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Placeholder" type="password" [(ngModel)]="password_confirm">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </p>
        <button mat-flat-button color="primary" (click)="register()">Register</button>
        <a routerLink="/login" routerLinkActive="active">Login </a>
    </div>
</div>