.example-container {
    height: 100%;
}

.nav-header {
    position: fixed;
    z-index: 9999;
    display: flex;
}

.content-app {
    margin: 70px 0;
    position: fixed;
    width: 100%;
}

.example-sidenav {
    width: 200px;
    padding: 20px 0;
    h1 {
        padding: 0 30px;
    }
    position: absolute;
}

.wrap-over {
    background-color: rgba($color: #000000, $alpha: 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
}

.nav-header-left {
    flex: 1;
}

.nav-header-center {
    flex: 1;
    align-items: center;
}

.nav-header-right {
    flex: 1;
    display: flex;
    align-items: end;
    button {
        margin-left: auto;
        width: 50px;
    }
}

.pending-card {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 20px;
    height: 40px;
}

.mat-card-subtitle {
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.mat-spinner {
    width: 20px;
    margin-right: 10px;
}

.text-pending {
    flex: auto;
}

.nav-btn-slide {
    width: 100%;
    text-align: left;
    border-radius: 0;
}