<app-loading-screen *ngIf="isLoading"></app-loading-screen>
<mat-drawer-container class="example-container">
    <div *ngIf="isMenu" class="wrap-over" (click)="drawer.toggle();openMenu()"></div>
    <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
        <h1>Menu</h1>
        <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
    <mat-divider></mat-divider>
    <mat-divider inset vertical></mat-divider> -->

        <mat-selection-list #menu [multiple]="false">
            <mat-list-option (click)="drawer.toggle();openMenu()" routerLink="/home">
                <button mat-icon-button class="nav-btn-slide">
              <mat-icon>home</mat-icon> Home
            </button>
            </mat-list-option>
            <!-- <mat-list-option (click)="drawer.toggle();openMenu()" routerLink="/shop">
                <button mat-icon-button class="nav-btn-slide">
              <mat-icon>shopping_cart</mat-icon> Shop
            </button>
            </mat-list-option> -->
            <mat-list-option (click)="drawer.toggle();openMenu()" routerLink="/inventory">
                <button mat-icon-button class="nav-btn-slide">
                <mat-icon>inventory</mat-icon> Inventory
              </button>
            </mat-list-option>

            <hr>
            <mat-list-option (click)="drawer.toggle();openMenu()" routerLink="/transaction">
                <button mat-icon-button class="nav-btn-slide">
                <mat-icon>my_library_books</mat-icon> My order
              </button>
            </mat-list-option>

            <hr>
            <mat-list-option (click)="logout()">
                <button mat-icon-button class="nav-btn-slide">
          <mat-icon>logout</mat-icon> Logout
        </button>
            </mat-list-option>
            <hr>
        </mat-selection-list>



        <!-- <mat-list role="list">
      <mat-list-item role="listitem">
        <a class="nav-link" routerLink="/user">
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a routerLink="/vote" routerLinkActive="active">
          <mat-icon>ballot</mat-icon> User
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon"
          (click)="logout()">
          <mat-icon>logout</mat-icon> Logout
        </button>
      </mat-list-item>
    </mat-list> -->
    </mat-drawer>

    <mat-toolbar class="nav-header">

        <div class="nav-header-left">
            <button *ngIf="!isMainPage" mat-icon-button class="example-icon" (click)="gotoback()" aria-label="Example icon-button with share icon">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
        </div>

        <div class="nav-header-center">
            <span>Payment Gateway</span>
        </div>
        <div class="nav-header-right">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle();openMenu()">
        <mat-icon>menu</mat-icon>
      </button>
        </div>

    </mat-toolbar>

    <!-- Children -->
    <div class="content-app">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>