.group-gift {
    overflow-y: scroll;
    width: 100%;
    height: 220px;
}

.gift-item {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    float: left;
    margin: 5px;
}

.gift-item img {
    width: 100%;
    height: 100%;
}