<h1 mat-dialog-title>Selcet payment channel</h1>
<div class="wrap-select-payment" mat-dialog-content>
    <div class="select-payment" (click)="selectChannel('UNIONPAY')">
        <img src="/assets/images/payment-channel/unionpay.png">
    </div>
    <div class="select-payment" (click)="selectChannel('FC')">
        <img src="/assets/images/payment-channel/visa-mastercard.png">
    </div>
    <div class="select-payment" (click)="selectChannel('WECHAT')">
        <img src="/assets/images/payment-channel/wechat.png">
    </div>
    <div class="select-payment" (click)="selectChannel('ALIPAY')">
        <img src="/assets/images/payment-channel/alipay.png">
    </div>
    <div class="select-payment" (click)="selectChannel('PAYPAL')">
        <img src="/assets/images/payment-channel/paypal.png">
    </div>
    <div class="select-payment" (click)="selectChannel('APPLE')">
        <img src="/assets/images/payment-channel/apple.png">
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>