.wrapper {
    margin: 0 50px;
    text-align: center;
}

.wrap-spinner {
    width: 10%;
    margin: 20vh auto;
}

h1 {
    text-align: center;
}

.img-profile {
    margin: 0 auto;
    width: 200px;
}

.img-profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}