<div *ngIf="!isLoading" class="wrapper">
    <div class="img-profile">
        <img src="{{ user.imageUrl }}">
    </div>
    <h1>{{user.username}}</h1>
    <button *ngIf="!isOwner" mat-raised-button color="primary" (click)="openBottomSheet();">Gift</button>
    <br>
</div>