<!-- *ngIf="isCanOrder == false" -->
<ng-container >
    <div class="col-12 col-md-12 p-3">
        <div class="card card-body " >
            <div class="row">
                <div class="col-12 col-md-12" >
                    <div class="w-100 rounded py-2 mb-3 ng-star-inserted">
                        <div class="row mx-0">
                            <div class="col-12 col-md-12 text-center ">
                                <ng-container *ngIf="isLoading == true">
                                        <div class="loading" style="text-align:center;">
                                            <svg style="display: block;margin: auto;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4335 4335" width="100" height="100">
                                              <path fill="#008DD2" d="M3346 1077c41,0 75,34 75,75 0,41 -34,75 -75,75 -41,0 -75,-34 -75,-75 0,-41 34,-75 75,-75zm-1198 -824c193,0 349,156 349,349 0,193 -156,349 -349,349 -193,0 -349,-156 -349,-349 0,-193 156,-349 349,-349zm-1116 546c151,0 274,123 274,274 0,151 -123,274 -274,274 -151,0 -274,-123 -274,-274 0,-151 123,-274 274,-274zm-500 1189c134,0 243,109 243,243 0,134 -109,243 -243,243 -134,0 -243,-109 -243,-243 0,-134 109,-243 243,-243zm500 1223c121,0 218,98 218,218 0,121 -98,218 -218,218 -121,0 -218,-98 -218,-218 0,-121 98,-218 218,-218zm1116 434c110,0 200,89 200,200 0,110 -89,200 -200,200 -110,0 -200,-89 -200,-200 0,-110 89,-200 200,-200zm1145 -434c81,0 147,66 147,147 0,81 -66,147 -147,147 -81,0 -147,-66 -147,-147 0,-81 66,-147 147,-147zm459 -1098c65,0 119,53 119,119 0,65 -53,119 -119,119 -65,0 -119,-53 -119,-119 0,-65 53,-119 119,-119z"
                                              />
                                            </svg>
                                        </div>
                                    <div class="p-3">
                                        <h3>กรุณารอสักครู่</h3>
                                    </div>
                                    กรุณาเปิดหน้านี้ค้างไว้
                                </ng-container>
                                <ng-container *ngIf="isLoading == false && isSuccess == true">
                                    <img class="p-2 text-center" src="../../../assets/images/checked.png">
                                    <div class="p-3">
                                        <h3>Payment successful!</h3>
                                    </div>
                                    <!-- <p>ทางเราได้รับการชำระเงินค่าสินค้าของท่านเรียบร้อยแล้ว โดยสถานะการสั่งซื้อของท่านอยู่ในระหว่างการดำเนินการ</p>
                                    <p>ทางเราจะมีการแจ้งให้ท่านทราบเมื่อสินค้าพร้อมจัดส่ง </p> -->
                                    <!-- <p>สามารถดูสถานะออเดอร์ได้ที่ <a (click)="orderStatus()" style="color: blue;">คลิกที่นี่</a></p> -->
                                    <!-- ทางร้านได้รับ <a (click)="payment()" style="color: blue;">คลิกที่นี่</a> -->
                                </ng-container>
                                <ng-container *ngIf="isLoading == false && isError == true">
                                    <img class="logo text-center" src="../../../assets/images/cancel.png">
                                    <div class="p-3">
                                        <h3>Payment Failed.</h3>
                                    </div>
                                    <!-- กรุณาทำรายการใหม่อีกครั้ง หรือ <a (click)="reOrder()" style="color: blue;">คลิกที่นี่</a> เพื่อทำรายการใหม่ -->
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>