<ng-container *ngIf="!isLoading">
    <div class="group-scroll">
        <div class="group-card">
            <mat-card class="card" *ngFor="let user of users" (click)="openDetail(user.id)">
                <div class="card-img" style="background-image: url('{{ user.imageUrl }}')"></div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ user.username }}</mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</ng-container>