.mat-card-header-text {
    margin: 0;
}

.group-scroll {
    overflow-y: scroll;
    min-width: auto;
    min-height: auto;
    height: 90vh;
}

.group-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.card-img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 992px) {
    .group-card {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .group-card {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}