<app-loading-screen *ngIf="isLoading"></app-loading-screen>
<div class="login">
    <div class="wrap">
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="username" (keyup.enter)="setFocus('password')">
                <mat-icon matSuffix>account_circle</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password" (keyup.enter)="login()">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
        </p>
        <mat-checkbox class="example-margin" [(ngModel)]="isRemember">Remember</mat-checkbox>
        <button mat-flat-button color="primary" (click)="login()">Login</button>
        <a routerLink="/register" routerLinkActive="active">Register </a>
    </div>
</div>